.iphones {
    height: 60vh;
    width: 50vw;
    background-image: linear-gradient($color-primary, $color-white);
    border-radius: .5rem;

    @include respond(phone) {
        height: 70vh;
        width: 70vw;
    }

    @include respond(phone-small) {
        width: 75vw;
    }

    &:hover &__img--1{
        opacity: 0;
    }
    
    &:hover &__img--2{
        opacity: 1;
    }

    img {
        width: inherit;
        height: inherit;
        object-fit: contain;
        position: absolute;
        transition: opacity 3s;
    }

    &__img--2 {
        opacity: 0;
    }

    &__btns {
        display: flex;

        &-btn {
            width: 7rem;
            height: 7rem;
            background: linear-gradient(to right, rgb(51, 51, 51) 60%, rgb(82, 82, 82));
            margin: 0 3rem;
            border-radius: 50%;
            position: relative;

            &:hover span {
                transform: scale(1);
            }

            &::after {
                content: '';
                width: 50%;
                height: 50%;
                display: block;
                border: .1rem solid #6edae6;
                border-radius: 1rem;
            }

            span {
                position: absolute;
                top: -3rem;
                font-size: 1.6rem;
                text-transform: uppercase;
                color: $color-primary;
                letter-spacing: .1rem;
                width: max-content;
                transform: scale(0);
                transition: transform .5s;
            }
        }
    }
}